{{error}}


<h2>centers </h2>
<p>⇢ hazardous disposal centers</p>
<br />
<br />


<form action="/insert" method="get">
<fieldset>
  <legend>add new user</legend>
    <label>
      <span class="name">name</span>
      <span> ⇢ </span>
      <input size="20" name="name" placeholder="John and Hank's Recycolotron" id="name" type="text_input">
    </label>
    <label>
        <span class="name">street_number</span>
        <span> ⇢ </span>
        <input size="20" name="street_number" placeholder="123" id="street_number" type="text_input">
    </label>
    <label>
        <span class="name">street_direction</span>
        <span> ⇢ </span>
        <input size="20" name="street_direction" placeholder="N" id="street_direction" type="text_input">
    </label>
    <label>
        <span class="name">street_name</span>
        <span> ⇢ </span>
        <input size="20" name="street_name" placeholder="Pizzamas" id="street_name" type="text_input">
    </label>
    <label>
        <span class="name">street_type</span>
        <span> ⇢ </span>
        <input size="20" name="street_type" placeholder="Street" id="street_type" type="text_input">
    </label>
    <label>
        <span class="name">city</span>
        <span> ⇢ </span>
        <input size="20" name="city" id="city" placeholder="Portland", type="text_input">
    </label>
    <label>
        <span class="name">state</span>
        <span> ⇢ </span>
        <input size="20" name="state" placeholder="Oregon" id="state" type="text_input">
    </label>
    <label>
        <span class="name">zip</span>
        <span> ⇢ </span>
        <input size="20" name="zip" placeholder="12345" id="zip" type="text_input">
    </label>
  <input class="submit" value="Submit" type="submit">
</fieldset>
</form>


<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>location</th>
  </tr>
  {{#each centers}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{street_number}} {{street_direction}} {{street_name}} {{street_type}} {{city}} {{state}} {{zip}}</td>
    <td>
    <form action="/edit-centers" method="get">
    <input value="Edit" class="buttonEdit" type="submit">
    <input name="table" value="{{table}}" class="hidden-table" type="hidden">
    <input name="id" value={{id}} class="hidden" type="hidden">
    </form>
    <form action="/delete" method="get">
    <input value="Delete" class="buttonDelete" type="submit">
    <input name="id" value={{id}} class="hidden-id" type="hidden"></form>
    </td>
  </tr>
  {{/each}}
</table>



<script>
// wait until the DOM before starting buttons
document.addEventListener('DOMContentLoaded', bindButtons);

function bindButtons(){

    let buttonsSubmit = document.getElementsByClassName('submit');

    for (let i = 0; i < buttonsSubmit.length; i++) {
        buttonsSubmit[i].addEventListener('click', function(event){
            //console.log("adding ev to submit button");
            var req = new XMLHttpRequest();
            event.preventDefault();

            let name = document.getElementById("name").value;
            let street_number = document.getElementById("street_number").value;
            let street_direction = document.getElementById("street_direction").value;
            let street_name = document.getElementById("street_name").value;
            let street_type = document.getElementById("street_type").value;
            let city = document.getElementById("city").value;
            let state = document.getElementById("state").value;
            let zip = document.getElementById("zip").value;

            console.log('GET', '/insert?table={{table}}' + '&name= ' + name + "&street_number=" + street_number + "&street_direction=" + street_direction + "&street_name=" + street_name + "&street_type=" + street_type + "&zip=" + zip);

            req.open('GET', '/insert?table={{table}}' + '&name= ' + name + "&street_number=" + street_number + "&street_direction=" + street_direction + "&street_name=" + street_name + "&street_type=" + street_type + "&city=" + city + "&state=" + state + "&zip=" + zip, true);
            req.onload = function() {
                let res = req.responseText;
                //update();
                location.reload();
            }

            event.preventDefault();
            req.send(null);


        });
    }

        // hidden row id
        let buttonsHidden = document.getElementsByClassName("hidden");


        let buttonsDelete = document.getElementsByClassName("buttonDelete");

        for (let i = 0; i < buttonsDelete.length; i++) {
        console.log(buttonsHidden[i]);
        buttonsDelete[i].addEventListener('click', function(event){;
            console.log("adding ev to delete button");
            event.preventDefault();
            var req = new XMLHttpRequest();

            console.log("/delete?table={{table}}&id=" + buttonsHidden[i].value);
            req.open('GET', '/delete?table={{table}}&id=' + buttonsHidden[i].value, true);

            req.onload = function() {
                let res = req.responseText;
                location.reload();
            }

            req.send(null);
        });
    };
}


</script>

<!--<script src="tabler.js"></script>-->


