<div id="add">
</div>

<div id="form">
</div>

<div id="table">
</div>

<pre id="results">{{results}}</pre>


<form id="formOld" action="/safe-update" method="get">
<fieldset>
  <legend>edit</legend>
      {{#each schedules}} 
    <label>
      <span class="name">day of week</span>
      <span> ⇢ </span>
      <input size="20" id="day_of_week" value="{{day_of_week}}" id="name" type="text_input">
    </label>
    <label>
        <span class="name">time open</span>
        <span> ⇢ </span>
        <input size="20" id="time_open" value="{{time_open}}" type="time">
    </label>
    <label>
        <span class="name">time closed</span>
        <span> ⇢ </span>
        <input size="20" id="time_closed" value="{{time_closed}}" type="time">
    </label>
    <input id="table" name="table" value={{table}} class="hidden-table" type="hidden">
    <input id="id" name="id" value={{id}} class="hidden" type="hidden">
  {{/each}} 
    <label>
        <span class="name">centers</span>
        <span> ⇢ </span>
        <select id="centers" name="centers" selected="{{centers}}"> 
            {{#each centers}}
                <option id="cid" value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>
  <input class="submit" value="Submit" type="submit">
</fieldset>
</form>

<h2>{{table}}</h2>
  {{#each schedules}} 
<table>
  <tr>
    <th>id</th>
    <th>day_of_week</th>
    <th>time_open</th>
    <th>time_closed</th>
    <th>centers</th>
  </tr>
  <tr>
    <td>{{id}}</td>
    <td>{{day_of_week}}</td>
    <td>{{time_open}}</td>
    <td>{{time_closed}}</td>
    <td>{{centers}}</td>
  </tr> 
  {{/each}} 
</table> 

<script>

// wait until the DOM before starting buttons
document.addEventListener('DOMContentLoaded', bindButtons);

function bindButtons(){

    let buttonsSubmit = document.getElementsByClassName('submit');
    let buttonHidden = document.getElementById("id");

            console.log("adding ev to submit button");
    for (let i = 0; i < buttonsSubmit.length; i++) {
        buttonsSubmit[i].addEventListener('click', function(event){;
            console.log("adding ev to submit button");
            var req = new XMLHttpRequest();
            event.preventDefault();

            let day_of_week_name = document.getElementById("day_of_week").value;
            let day_of_week = -5
            switch(day_of_week_name) {
                case "sunday":
                    day_of_week = 1;
                    break;
                case "monday":
                    day_of_week = 2;
                    break;
                case "tuesday":
                    day_of_week = 3;
                    break;
                case "wednesday":
                    day_of_week = 4;
                    break;
                case "thursday":
                    day_of_week = 5;
                    break;
                case "friday":
                    day_of_week = 6;
                    break;
                case "saturday":
                    day_of_week = 7;
                    break;
            }

            let time_open = document.getElementById("time_open").value;
            let time_closed = document.getElementById("time_closed").value;
            let cid = document.getElementById("cid").value;
            console.log("day_of_week:", day_of_week)
            console.log("time_open:", time_open)
            console.log("time_closed:", time_closed)
            console.log("cid:", cid)

            req.open('GET', '/safe-update?table={{table}}' +  '&id=' + buttonHidden.value + '&day_of_week= ' + day_of_week + "&time_open=" + time_open + "&time_closed=" + time_closed + '&cid=' + cid, true);

            event.preventDefault();
            req.onload = function() {
                let res = req.responseText;
                window.location.href = '/{{table}}';
            }

            req.send(null);
            
        });
    }
}
</script>


