<div id="add">
</div>

<div id="form">
</div>

<div id="table">
</div>

<pre id="results">{{results}}</pre>



<form id="formOld" action="/safe-update" method="get">
<fieldset>
    <legend>edit</legend>
      {{#each materials}} 
    <input name="table" value={{table}} class="hidden-table" type="hidden">
    <div id="input">

    <label>
        <span class="name" style="width: 65px;">name</span>
        <span> ⇢ </span>
        <input size="20" name="name" id="name" type="text_input" value="{{name}}">
    </label>

    <label>
        <span class="name">pro</span>
        <span> ⇢ </span>
        <input size="20" name="pro" id="pro" type="checkbox">
    </label>



<input id="table" name="table" value={{table}} class="hidden-table" type="hidden">
<input id="id" name="id" value={{id}} class="hidden" type="hidden">
<input class="submit" value="Submit" id="submit" type="submit">
  {{/each}} 
</fieldset>
</form>

<h2>{{table}}</h2>
  {{#each materials}} 
<table>
  <tr> 
    <th>id</th> 
    <th>name</th> 
    <th>pro</th>
  </tr> 
  <tr> 
        <td>{{id}}</td> 
        <td>{{name}}</td> 
        <td>{{pro}}</td>
  </tr> 
    </form>
    </td>
  {{/each}} 
</table> 

<script>

// wait until the DOM before starting buttons
document.addEventListener('DOMContentLoaded', bindButtons);

function bindButtons(){

    let buttonsSubmit = document.getElementsByClassName('submit');
    let buttonHidden = document.getElementById("id");

            console.log("adding ev to submit button");
    for (let i = 0; i < buttonsSubmit.length; i++) {
        buttonsSubmit[i].addEventListener('click', function(event){;
            console.log("adding ev to submit button");
            var req = new XMLHttpRequest();
            event.preventDefault();

            let name = document.getElementById("name").value;
            console.log("@@ name:", name);

            let proStatus = document.getElementById("pro").checked;
            console.log("@@ proStatus:", proStatus);

            let pro = -5;
            if (proStatus == true) {
                pro = 1;
            }
            else {
                pro = 0;
            }
            console.log("pro: ", pro);

            req.open('GET', '/safe-update' + '?table=' + '{{table}}' + '&id=' + buttonHidden.value + '&name=' + name + "&pro=" + pro, true);

            event.preventDefault();
            req.onload = function() {
                let res = req.responseText;
                window.location.href = '/{{table}}';
            }

            req.send(null);
            
        });
    }
}
</script>


