<div id="add">
</div>

<div id="form">
</div>

<div id="table">
</div>

<pre id="results">{{results}}</pre>



<form id="formOld" action="/safe-update" method="get">
<fieldset>
    <legend>edit</legend>
      {{#each disposalInstructions}} 
    <input name="table" value={{table}} class="hidden-table" type="hidden">
    <div id="input">

    <label>
        <span class="name" style="width: 65px;">name</span>
        <span> ⇢ </span>
        <input size="20" name="instructions" id="instructions" type="text_input" value="{{instructions}}">
    </label>

<input id="table" name="table" value={{table}} class="hidden-table" type="hidden">
<input id="id" name="id" value={{id}} class="hidden" type="hidden">
<input class="submit" value="Submit" id="submit" type="submit">
  {{/each}} 
</fieldset>
</form>

<h2>{{table}}</h2>
  {{#each disposalInstructions}} 
<table>
  <tr> 
    <th>id</th> 
    <td>instructions</td>
  </tr> 
  <tr> 
        <td>{{id}}</td> 
        <td>{{instructions}}</td>
  </tr> 
    </form>
    </td>
  {{/each}} 
</table> 

<script>

// wait until the DOM before starting buttons
document.addEventListener('DOMContentLoaded', bindButtons);

function bindButtons(){

    let buttonsSubmit = document.getElementsByClassName('submit');
    let buttonHidden = document.getElementById("id");

            console.log("adding ev to submit button");
    for (let i = 0; i < buttonsSubmit.length; i++) {
        buttonsSubmit[i].addEventListener('click', function(event){;
            console.log("adding ev to submit button");
            var req = new XMLHttpRequest();
            event.preventDefault();

            let instructions = document.getElementById("instructions").value;

            req.open('GET', '/safe-update' + '?table={{table}}' + '&id=' + buttonHidden.value + '&instructions=' + instructions, true);

            event.preventDefault();
            req.onload = function() {
                let res = req.responseText;
                window.location.href = '/{{table}}';
            }

            req.send(null);
            
        });
    }
}
</script>


