{{error}}

{{#each materials}}
{{#if pro}}
    <h2>{{name}} ★</h2>
{{else}}
    <h2>{{name}}</h2>
{{/if}}
{{/each}}

<h2>Handling/Disposal Instructions:</h2>

<ul style="display: block;">
{{#each handling}}
    <li>{{instructions}}</li>
{{/each}}
</ul>

<ul style="display: block;">
{{#each disposal}}
    <p>{{instructions}}</p>
{{/each}}
</ul>

<br />
<br />

{{#each materials}}
{{#if pro}}
<p style="color: #d81b60; font-weight: bold;">professional disposal required ★</p>
{{/if}}
{{/each}}

{{#each centers}}
    <div tabindex="0" class="select" onclick="location.href='/centers?id={{id}}'">{{name}}
    <p>{{street_number}} {{street_direction}} {{street_name}} {{street_type}}, {{city}}, {{state}} {{zip}}</p></div>
{{/each}}
