{{error}}


<h2>schedules </h2>
<p>⇢ example schedules</p>
<br />
<br />


<form action="/insert" method="get">
<fieldset>
  <legend>add new schedule</legend>
    <label>
      <span class="name">day of week</span>
      <span> ⇢ </span>
      <input size="20" id="day_of_week" placeholder="monday" id="name" type="text_input">
    </label>
    <label>
        <span class="name">time open</span>
        <span> ⇢ </span>
        <input size="20" id="time_open" id="time_open" type="time">
    </label>
    <label>
        <span class="name">time closed</span>
        <span> ⇢ </span>
        <input size="20" id="time_closed" id="time_closed" type="time">
    </label>
    <label>
        <span class="name">centers</span>
        <span> ⇢ </span>
        <select id="centers" name="centers"> 
            {{#each centers}}
                <option id="cid" value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>
  <input class="submit" value="Submit" type="submit">
</fieldset>
</form>


<table>
  <tr>
    <th>id</th>
    <th>day_of_week</th>
    <th>time_open</th>
    <th>time_closed</th>
    <th>centers</th>
  </tr>
  {{#each schedules}}
  <tr>
    <td>{{id}}</td>
    <td>{{day_of_week}}</td>
    <td>{{time_open}}</td>
    <td>{{time_closed}}</td>
    <td>{{centers}}</td>
    <td>
    <form action="/edit-schedules" method="get">
    <input value="Edit" class="buttonEdit" type="submit">
    <input name="table" value="user" class="hidden-table" type="hidden">
    <input name="id" value={{id}} class="hidden" type="hidden">
    </form>
    <form action="/delete" method="get">
    <input value="Delete" class="buttonDelete" type="submit">
    <input name="id" value={{id}} class="hidden-id" type="hidden"></form>
    </td>
  </tr>
  {{/each}}
</table>



<script>
// wait until the DOM before starting buttons
document.addEventListener('DOMContentLoaded', bindButtons);

function bindButtons(){

    let buttonsSubmit = document.getElementsByClassName('submit');

    for (let i = 0; i < buttonsSubmit.length; i++) {
        buttonsSubmit[i].addEventListener('click', function(event){
            //console.log("adding ev to submit button");
            var req = new XMLHttpRequest();
            event.preventDefault();

            let day_of_week_name = document.getElementById("day_of_week").value;
            let day_of_week = -5
            switch(day_of_week_name) {
                case "sunday":
                    day_of_week = 1;
                    break;
                case "monday":
                    day_of_week = 2;
                    break;
                case "tuesday":
                    day_of_week = 3;
                    break;
                case "wednesday":
                    day_of_week = 4;
                    break;
                case "thursday":
                    day_of_week = 5;
                    break;
                case "friday":
                    day_of_week = 6;
                    break;
                case "saturday":
                    day_of_week = 7;
                    break;
            }

            let time_open = document.getElementById("time_open").value;
            let time_closed = document.getElementById("time_closed").value;
            let cid = document.getElementById("cid").value;
            console.log("day_of_week:", day_of_week)
            console.log("time_open:", time_open)
            console.log("time_closed:", time_closed)
            console.log("cid:", cid)

            req.open('GET', '/insert?table={{table}}' + '&day_of_week= ' + day_of_week + "&time_open=" + time_open + "&time_closed=" + time_closed + '&cid=' + cid, true);
            //console.log('GET', '/insert?table={{table}}' + '&day_of_week= ' + day_of_week + "&time_open=" + time_open + "&time_closed=" + time_closed + '&cid=' + cid);
            req.onload = function() {
                let res = req.responseText;
                //update();
                location.reload();
            }

            event.preventDefault();
            req.send(null);


        });
    }

        // hidden row id
        let buttonsHidden = document.getElementsByClassName("hidden");


        let buttonsDelete = document.getElementsByClassName("buttonDelete");

        for (let i = 0; i < buttonsDelete.length; i++) {
        console.log(buttonsHidden[i]);
        buttonsDelete[i].addEventListener('click', function(event){;
            console.log("adding ev to delete button");
            event.preventDefault();
            var req = new XMLHttpRequest();

            console.log("/delete?table={{table}}&id=" + buttonsHidden[i].value);
            req.open('GET', '/delete?table={{table}}&id=' + buttonsHidden[i].value, true);

            req.onload = function() {
                let res = req.responseText;
                location.reload();
            }

            req.send(null);
        });
    };
}


</script>

<!--<script src="tabler.js"></script>-->


