
<div id="add"></div>

<div id="form"></div>

<div id="table"></div>



{{#if users}}
<h2><a href="/users">users</a></h2>
<table>
    <tr> 
        <th>name</th> 
        <th>password</th> 
        <th>notifications</th>
    </tr> 
            {{#each users}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{password}}</td> 
            <td>{{notifications}}</td>
            <td>
            <form action="/edit-users" method="get">
                <input value="Edit" class="buttonEdit" type="submit">
                <input name="id" value={{id}} class="hidden" type="hidden">
            </form>
            <form action="/delete" method="get">
                <input value="Delete" class="buttonDelete" type="submit">
                <input name="table" value="users" class="hidden" type="hidden"></form>
                <input name="id" value={{id}} class="hidden" type="hidden"></form>
            </td>
        </tr> 
        {{/each}} 
</table> 
{{/if}}


{{#if materials}}
<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>pro</th>
  </tr>
  {{#each materials}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{pro}}</td>
    <td>
    <form action="/edit-materials" method="get">
    <input value="Edit" class="buttonEdit" type="submit">
    <input name="table" value="user" class="hidden-table" type="hidden">
    <input name="id" value={{id}} class="hidden" type="hidden">
    </form>
    <form action="/delete" method="get">
    <input value="Delete" class="buttonDelete" type="submit">
    <input name="id" value={{id}} class="hidden-id" type="hidden"></form>
    </td>
  </tr>
  {{/each}}
</table>
{{/if}}


{{#if handlingInstructions}}
<table>
  <tr>
    <th>id</th>
    <th>instructions</th>
  </tr>
  {{#each handlingInstructions}}
  <tr>
    <td>{{id}}</td>
    <td>{{instructions}}</td>
    <td>
    <form action="/edit-handlingInstructions" method="get">
    <input value="Edit" class="buttonEdit" type="submit">
    <input name="table" value="user" class="hidden-table" type="hidden">
    <input name="id" value={{id}} class="hidden" type="hidden">
    </form>
    <form action="/delete" method="get">
    <input value="Delete" class="buttonDelete" type="submit">
    <input name="id" value={{id}} class="hidden-id" type="hidden"></form>
    </td>
  </tr>
  {{/each}}
</table>
{{/if}}

{{#if disposalInstructions}}
<table>
  <tr>
    <th>id</th>
    <th>instructions</th>
  </tr>
  {{#each disposalInstructions}}
  <tr>
    <td>{{id}}</td>
    <td>{{instructions}}</td>
    <td>
    <form action="/edit-disposalInstructions" method="get">
    <input value="Edit" class="buttonEdit" type="submit">
    <input name="table" value="user" class="hidden-table" type="hidden">
    <input name="id" value={{id}} class="hidden" type="hidden">
    </form>
    <form action="/delete" method="get">
    <input value="Delete" class="buttonDelete" type="submit">
    <input name="id" value={{id}} class="hidden-id" type="hidden"></form>
    </td>
  </tr>
  {{/each}}
</table>
{{/if}}


{{#if centers}}
<h2><a href="centers">centers</a></h2>
<table>
  <tr>
    <th>name</th>
    <th>location</th>
    <th>hours of operation</th>
  </tr>
  {{#each centers}}
  <tr>
    <td>{{name}}</td>
    <td>{{street_number}} {{street_direction}} {{street_name}} {{street_type}} {{city}} {{state}} {{zip}}</td>
    <td>{{day_of_week}}</td>
    <td>
    <form action="/edit-user" method="get">
    <input value="Edit" class="buttonEdit" type="submit">
    <input name="table" value="user" class="hidden-table" type="hidden">
    <input name="id" value={{id}} class="hidden" type="hidden">
    </form>
    <form action="/delete" method="get">
    <input value="Delete" class="buttonDelete" type="submit">
    <input name="id" value={{id}} class="hidden-id" type="hidden"></form>
    </td>
  </tr>
  {{/each}}
</table>
{{/if}}

{{#if schedules}}
<h2><a href="schedules">schedules</a></h2>
<table>
  <tr>
    <th>day_of_week</th>
    <th>time_open</th>
    <th>time_closed</th>
  </tr>
  {{#each schedules}}
  <tr>
    <td>{{day_of_week}}</td>
    <td>{{time_open}}</td>
    <td>{{time_closed}}</td>
    <td>
    <form action="/edit-schedules" method="get">
    <input value="Edit" class="buttonEdit" type="submit">
    <input name="table" value="user" class="hidden-table" type="hidden">
    <input name="id" value={{id}} class="hidden" type="hidden">
    </form>
    <form action="/delete" method="get">
    <input value="Delete" class="buttonDelete" type="submit">
    <input name="id" value={{id}} class="hidden-id" type="hidden"></form>
    </td>
  </tr>
  {{/each}}
</table>
{{/if}}



<pre id="results">{{results}}</pre>


<!--<script src="tabler.js"></script>-->

